@import 'tailwindcss';
@import "tw-animate-css";
/* @import '../styles/_variables.css';
@import '../styles/_keyframe-animations.css'; */

@config '../../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

html {
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
  scroll-behavior: smooth;
}

/* @layer components {
  .tiptap p {
    @apply text-base text-neutral-800 dark:text-neutral-100;
  }

  .tiptap h1 {
    @apply text-2xl font-bold mb-2;
  }

  .tiptap h2 {
    @apply text-xl font-semibold mb-2;
  }

  .tiptap ul, .tiptap ol {
    @apply list-disc list-inside ml-5;
  }

  .tiptap a {
    @apply text-info underline;
  }

} */

@layer base {

}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */